.editor{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* margin: 5em 5em ; */
  margin-left: 0.5em;
  float: left;
}

.cke{
  margin-right: 10em;
}

.ck-editor__editable_inline {
  min-height: 300px;
  min-width: 720px;
}
